@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;

  --color-primary: #700026;   /* Bordeaux */
  --color-secondary: #5C5C5C; /* Gris foncé */

  --font-manrope: 'Manrope', sans-serif;
  --font-playfair: 'Playfair Display', serif;
}

html,
body {
  overscroll-behavior: none;
  scroll-behavior: auto; /* pas smooth ici sinon conflit */
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope); /* par défaut */
}

/* Classes utilitaires pour polices */
.font-manrope {
  font-family: var(--font-manrope);
}

.font-playfair {
  font-family: var(--font-playfair);
}

@layer utilities {
  .text-primary {
    color: var(--color-primary);
  }
  .text-secondary {
    color: var(--color-secondary);
  }
  .bg-primary {
    background-color: var(--color-primary);
  }
  .bg-secondary {
    background-color: var(--color-secondary);
  }
}