@import "tailwindcss";

:root {
  --background: #ffffff; /* fond blanc */
  --foreground: #000000; /* texte noir */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* ✅ applique Manrope ici */
  --font-sans: var(--font-manrope);
  /* ⛔️ supprime Geist si non utilisé */
  /* --font-mono: var(--font-geist-mono); */
}

@theme {
  --color-primary: #700026;   /* Bordeaux */
  --color-secondary: #5C5C5C; /* Gris foncé */
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);

  /* ✅ Laisse Tailwind gérer avec font-sans */
  font-family: var(--font-sans);
}
